.create-room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
}

.create-room-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-room-page input {
  margin: 10px 0;
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
}

.create-room-page button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.create-room-page button:hover {
  background-color: darkred;
}
