.feature-section {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 5rem;
}

.feature-content {
  max-width: 600px;
  text-align: left;
  color: #fff;
}

.feature-content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .feature-section {
    padding: 2rem;
  }

  .feature-content h2 {
    font-size: 1.5rem;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}
