.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  color: #fff;

}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 2rem;
  line-height: 50px;
}

.form-container {
  max-width: 45%;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    padding: 3rem 2rem;
  }

  .hero-content, .form-container {
    max-width: 100%;
  }

  .hero-content {
    margin-bottom: 2rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

}
