html, body {
  font-family: 'light', sans-serif;
  height: 100%;
  background-color: #03071e;
  background-image: linear-gradient(43deg, #03071e 0%, #6a040f 46%, #d00000 100%);
  overscroll-behavior: none;
}

.landing-page{
  height: 100%;
}
.navbar{
  height: 10%;
}
.hero-section{
  height: 90%;
}

@media (max-width: 600px) {
  html, body {
    font-size: 14px;
    background-color: #03071e;
    background-image: linear-gradient(180deg, #03071e 0%, #6a040f 100%);

  }

  .navbar {
    height: 15%;
  }

  .hero-section {
    height: 85%;
  }
}
