.form-box {
    background-color: #0000004b;
    padding: 40px;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: transparent;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    background: tr;
  }
  
  button[type="submit"],
  button[type="button"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #D00000;
    color: white;
  }
  
  button[type="submit"]:hover {
    background-color: #370617;
  }
  
  button[type="button"] {
    background-color: transparent;
    color: #D00000;
    text-decoration: underline;
  }
  
  button[type="button"]:hover {
    color: #370617;
  }
  